* {
    font-family: 'Courgette', cursive;
}

h1 {
    color: #29B1DD;
}

h5 {
    margin-bottom: 0;
}

.filter {
    background-color: #29B1DD;
    margin-bottom: 48px;
}

.container-fluid {
    background-color: #DDDDDD;
}

.card {
    border-radius: 15px;
}